.grid{  
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    padding-bottom: 10px;
}
.grid__colum-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667;
    margin-top: -16px;
    margin-left: 30px;
}
.grid__colum-10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334;
}
:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --boder-color:#dbdbdb;
    --primary-color: rgb(250, 32, 32);
    --header-height:100px;
    --nav-height:14px;
    --header-with-seacher-height: calc(var(--header-height)-var(var(--header__search)))
}
*{
    box-sizing: inherit;
}
html{
    font-size: 60%;
    line-height: 1.5rem;
    font-family: 'roboto', sans-serif;
    box-sizing: border-box;
}