.header{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(0, red);
    background-color: #FF3399;
    padding: 0;
    position: fixed;
    margin: -20px 0;
}
.header__nav{
    display: flex;
    justify-content: space-between;
}
.header__nav-list{
  list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0 ;
}
.header__nav-item{
    margin: 0 8px;
    position: relative;
    margin-top: 4px;
}
.header__nav-item,
.header__nav-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--black-color);
    text-decoration: none;
    font-weight: 300;
}
.header__nav-item,
.header__nav-item-link,
.header__nav-icon {
    display: inline flex;
    align-items: center;
    min-height: 26px;
}
.header__nav-item:hover,
.header__nav-item-link:hover,
.header__nav-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header-navbar-item--strong{
    font-weight: 500;
}
.header-navbar-item--gach::after{
    content: "";
    display: block;
    position: absolute;
    width: 1.5px;
    height: 18px;
    background-color: rgb(124, 124, 123);
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -6px;

}
body{
    margin: 0;
}
.no-poiter{
    cursor: text;
    color: var(--black-color);
    
}
.header__nav-icon-link{
    list-style: none;
    color:var(--black-color)
    
}
.header__nav-icon{
    font-size: 1.5rem;
    margin:0 4px;
}
.header__with-search{
    height:var(--header-with-seacher-height) ;
    display: flex;
    align-items: center;
}
.header__search{
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    font-size: 1.5rem;
}
.header__logo{
    width: 200px;
    
    text-align: center;
}
.header__logo-img{
    width: 50px;
}
.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-icon{
    color: var(--white-color);
    font-size: 2.5rem;
}
.header__search-item {
    border: 0;
    height: 38px;
    width: 500px;
    outline: none;
    padding: 0 12px;
}
.header__danhmuc {
    background-color: rgb(250, 235, 195);
    height: 30px;
    margin-top: -10px;
    
   
}
.header-list-item {
    list-style: none;

}
.header-list-link {
    text-decoration: none;
    margin: 0 70px;
    font-size: 1.5rem;
}
.header-list {
    display: flex;
    justify-content: center;
    padding: 8px 0;
}
.header-list-child {
    width: 200px;
    background-color: black;
    height: 200px;
    /* margin-left: 114px; */
     display: none; 
    border-radius: 5px;
   
}
.header-list-item-child {
   list-style: none;
   padding: 8px 10px; 
   margin-left: -40px;
  
}
.header-list-link-child {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
}
.header-list-item:hover .header-list-child {
    display: block;
}
.header-list-item-child:hover {
    border-bottom: 1px solid red;
}
.header__search-btn{
    background-color: rgb(234 232 232);
    border: none;
    height: 35px;
    border-radius: 2px;
    width: 46px;
    outline: none;
    margin-right: 3px;
    margin-top: 3px;
}
.header__search-btn-icon{
    font-size: 1.6rem;
    color: var(--white-color);
}
.box-create {
    width: 200px;
    height: 40px;
    border: 3px solid rgb(84, 88, 79);
    border-radius: 50px;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 150px;
}
.app__container{
    background-color: #f5f5f5;
    margin-top: 19px;
    display: flex;
    padding: 120px 0;
   
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
    z-index: 0;
}
.category__heading{
    font-size: 1.8rem;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0 0 0 0.05);
    /* height: 700px; */
}
.category__heading-icon{
    font-size: 1.5rem;
    margin-right: 4px;
    /* position: relative;      */
    top: -1px;
}
.category-list{
    padding-left:0;
    list-style: none;

}
.category-item{

}
.category-item__link .category-item--active{
    color: var(--primary-color);

}
.category-item__link{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    padding: 12px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
.slide__show-item{
    overflow: hidden;
    width: 1190px;
    height: 380px;
    margin:0 auto;
}
.slide__show-content{
    width: 500%;
    animation: slideshow 16s infinite;
}
.icon-footer{
    font-size: 2.7rem;
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.supplement{
    display: flex;
}
.navbar__chill{
    padding: -50px 0;
}
.image1{
       float:left;
       width: 1190px;
       height: 380px;
       display:flex;
       justify-content: center;
       align-items: center; 
     
}
.image img{
   max-height: 380px;
   -o-object-fit: cover;
   object-fit: cover;
   width: 100%;
   max-width: none;
   min-width: 1190px;
}
.advantage-item {
   list-style: none;
   font-size: 1.5rem;
}
.advantage__list {
   display: flex;
}

@keyframes slideshow {
   20%{
       margin-left:0%;
   }
   30%{
       margin-left:-100%;
   }
   40%{
       margin-left:-100%;
   }
   50%{
       margin-left:-200%;
   }
   60%{
       margin-left:-200%;
   }
   70%{
       margin-left:-300%;
   }
   80%{
       margin-left:-300%;
   }

   90%{
       margin-left:-400%;
   }

   100%{
       margin-left:-400%;
   }}
.img_edit{
    border-radius: 10px;
    /* padding-top: 10px; */
}
.container__title-header{
    font-size: 3rem;
    text-align: center;
    
}
.app__container-box{
    display: flex;
}
.ingredient-img{
    max-width: 100%;
    width: 280px;
    height: 130px;
    border-radius: 10px;
}
.ingredient-title{
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    /* margin-left: 13px; */
    text-decoration: none;
}
.ingredient__link{
    width: 280px;
    height: 250px;
    text-decoration: none;
}
.ingredient-time{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
}
.ingredient__link1 {
    width: 280px;
    height: 250px;
    text-decoration: none;
    margin: 0 25px;
}
.ingredient__link2 {
    text-decoration: none;
}
.ingredient-category{
    font-size: 1.5rem;
}
.ingredient-img1{
    max-width: 100%;
    width: 280px;
    height: 410px;
    border-radius: 10px;
}
.ingredient-time1{
    font-size: 10px;
    line-height: 20px;
    text-decoration: none;
    font-weight: bold;
}

/* footer */
.footer {
    background: #434343;
    color: #fff;
    padding: 40px 0;
    font-family: "Open Sans";
    font-size: 14px;
    z-index: 1;
    display: flex;
}
.footer__title{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 40px;
}
.footer__title1{
    text-decoration: none;
    list-style: none;
    margin: 14px 0;
    /* margin-right: 200px; */
}
.footer__title2{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
}
.footer__title3{
    font-size: 1.6rem;
    
}
.table__fotter{
    border: 1px solid aqua;
}
.send__footer{
    height: 38px;
    width: 200px;
    outline: none;
    padding: 0 12px;
    background-color: #434343 ;
}
.category__heading-icon1{
    font-size: 1.8rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
    margin: 3px 6px;
    color: #a0a0a0;
}
.footer__container{
    width: 35px;
    height: 35px;
}
.category__heading-icon2{
    font-size: 3.5rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
    color:var(--white-color);
    margin: 30px 10px;
}
.footer_thumbnail{
    width: 350px;
    height: 300px;
}
.footer__ul{
    padding: -40px;
}